body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
}

.portfolio-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    padding: 0;
}

.image-wrapper {
    text-align: center;
    background-color: #27ae60;
    border-radius: 10px;
    width: 300px;
    margin-left: 200px;
}

.image-wrapper img {
    width: 300px; /* Adjust the size to make it prominent */
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-left: 20px;
    margin-bottom: 20px;
}

.image-wrapper img:hover {
    transform: scale(1.05);
    overflow: hidden; /* Prevent hover scaling from adding scrollbars */
}